# Node modules
/node_modules/

# Angular cache
.angular/cache/

# Vite dependencies
/vite/deps/

# Build output
/dist/
/out/

# Environment files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor folders
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# System files
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo
